<div class="row align-items-center" style="background: linear-gradient(to bottom, #FF9500, #E6DE04);">

    <div class="col-md-6">
      <h2 class="fw-bold" style="color: #000;margin-top: 30px; ">Pack Intérieur / Exterieur</h2>
  
      <ul class="list-unstyled mt-3">
        <li class="d-flex align-items-center">
          <i class="bi bi-check-circle-fill text-success"></i>
          <span class="ms-2">Citadine/Berlin</span>
          <p class="ms-3 mb-0 display-6" style="color: #000; font-weight: bold; font-size: 1em;">
            50 <span style="font-size: 0.8em; position: relative; top: -0.5em; font-weight: bold;">€</span>
          </p>
        </li>
        <li class="d-flex align-items-center">
          <i class="bi bi-check-circle-fill text-success"></i>
          <span class="ms-2">Monospace/SUV/4x4</span>
          <p class="ms-3 mb-0 display-6" style="color: #000; font-weight: bold; font-size: 1em;">
            65 <span style="font-size: 0.8em; position: relative; top: -0.5em; font-weight: bold;">€</span>
          </p>
        </li>
      </ul>
      <p class="text-success mt-3 d-flex align-items-center">
        <i class="bi bi-plus-circle-fill me-2" style="color: #1a6b22;"></i>
        <!-- Prix 10€ -->
        <span class="text-success ms-2 display-6" style=" font-weight: bold; font-size: 1em;">
          10 <span style="font-size: 0.8em; position: relative; top: -0.5em; font-weight: bold;">€</span>
        </span> 
        <!-- Texte "à" -->
        <span class="text-success ms-2" style=" font-weight: bold; font-size: 1em;">à</span>
        <!-- Prix 40€ -->
        <span class="text-success ms-2 display-6" style=" font-weight: bold; font-size: 1em;">
          40 <span style="font-size: 0.8em; position: relative; top: -0.5em; font-weight: bold;">€</span>
        </span>
        <!-- Texte "Selon l'état" -->
        <span class="text-success ms-2" style=" font-weight: bold; font-size: 1em;">Selon l'état</span>
      </p>
    </div>
    <!-- Image -->
    <div class="col-md-6" style="margin-top: 30px; margin-bottom: 30px;">
      <img src="assets/images/pack-interieur.png" alt="Pack Intérieur" class="img-fluid rounded shadow">
    </div>
  </div>