<div class="container-fluid position-relative py-5 text-center text-light section-background">
    <div class="container position-relative">
      <!-- Barre de navigation responsive -->
      <app-navbar></app-navbar>
  
      <!-- Titre et texte -->
      <div class="title-very-large">MS NETTOYAGE 80</div>
      <p class="mt-4 fs-5" style = "font-family: 'Martel', serif;">
        <strong><span style="color: #FDF62C; font-weight: bold; font-size: 1.5em;">MS NETTOYAGE 80</span></strong> est une société spécialisée dans le nettoyage professionnel de tapis et moquettes de voiture. 
        Nous offrons un nettoyage en profondeur pour éliminer taches, impuretés et odeurs, redonnant ainsi à l'intérieur de votre véhicule 
        fraîcheur et propreté. Grâce à des produits écologiques et un équipement de pointe, nous assurons un service rapide et de qualité, 
        adapté à vos besoins.
      </p>
    </div>
  </div>