<div class="container mt-5">
    <div class="row">
      <!-- carte packe tapis et canapté-->
      <div class="col-md-4">
        <div class="card" style="width: 18rem; background: linear-gradient(to bottom, #636363, #D3D3D3);">
          <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
            <!-- Titre centré et en gras -->
            <h5 class="card-title text-center fw-bold" style="font-size: 1.5rem;">Tapis Et Canapé</h5>
      
            <!-- Texte "Seulement à" avec text-muted, aligné à gauche -->
            <p class="card-text text-muted" style="font-size: 1.2rem; font-weight: bold;">À partir de </p>
      
            <!-- Prix en plus grand, en gras, en bas à droite -->
            <p class="text-center" style="font-size: 1.5rem; font-weight: bold;">30<span style=" position: relative; top: -0.5em;font-size: 1rem">€</span></p>
      
            <!-- Liste des éléments, centrée et en gras avec la police NerkoOne -->
            <ul class="list-unstyled text-center" style="font-family: 'Nerko One', sans-serif; font-weight: bold;">
              <li>Selon la taille</li>
            </ul>

            <!-- Titre centré et en gras -->
            <h5 class="card-title text-center fw-bold" style="font-size: 1.5rem;">Destiquage</h5>
      
            <!-- Texte "Seulement à" avec text-muted, aligné à gauche -->
            <p class="card-text text-muted" style="font-size: 1.2rem; font-weight: bold;">À partir de </p>
      
            <!-- Prix en plus grand, en gras, en bas à droite -->
            <p class="text-center" style="font-size: 1.5rem; font-weight: bold;">20<span style=" position: relative; top: -0.5em;font-size: 1rem">€</span></p>
      
            
          </div>
        </div>
      </div>
      <!-- carte pack spécial -->
      <div class="col-md-4">
        <div class="card" style="width: 18rem; background: linear-gradient(to bottom, #FF9500, #E6DE04)">
          <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
            <!-- Titre centré et en gras -->
            <h5 class="card-title text-center fw-bold" style="font-size: 1.5rem;">Pack Spécial</h5>
      
            <!-- Texte "Seulement à" avec text-muted, aligné à gauche -->
            <p class="card-text text-muted" style="font-size: 1.2rem; font-weight: bold;">Seulement à</p>
      
            <!-- Prix en plus grand, en gras, en bas à droite -->
            <p class="text-center" style="font-size: 1.5rem; font-weight: bold;">80<span style=" position: relative; top: -0.5em;font-size: 1rem">€</span></p>
      
            <!-- Liste des éléments, centrée et en gras avec la police NerkoOne -->
            <ul class="list-unstyled text-center" style="font-family: 'Nerko One', sans-serif; font-weight: bold;">
              <li>Camion</li>
              <li>Camping Car</li>
              <li>Tracteur</li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- carte option-->
      <div class="col-md-4">
        <div class="card" style="width: 18rem; background: linear-gradient(to bottom, #636363, #D3D3D3);">
          <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
            <!-- Titre centré et en gras -->
            <h5 class="card-title text-center fw-bold" style="font-size: 1.5rem;">Option</h5>      
            <!-- Liste des éléments, centrée et en gras avec la police NerkoOne -->
            <ul class="list-unstyled text-center" style="font-family: 'Nerko One', sans-serif; font-weight: bold;">
              <li>Shampoing tapis</li><span style="color: #FDF62C; font-weight: bold;">10</span>
              <li>Shampoing coffre</li>
              <li>Poil à partir de </li>
              <li>Cire de protection</li>
              <li>Goudron</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>