<div class="row align-items-center" style="background: linear-gradient(to bottom, #636363, #D3D3D3);">

    <!-- Texte -->
    <div class="col-md-6 order-md-1">
      <h2 class="fw-bold" style="color: #000;margin-top: 30px; ">Pack Extérieur</h2>

      <h3 class="display-6 " style="color: #000;font-weight: bold;">30 <span style="font-size: 0.6em; position: relative; top: -0.5em;font-weight: bold;"> €</span></h3>
      <h4 class="ms-sm-6 ms-md-6 ms-lg-16">
        <small class="text-muted">+10 € monospace / 4 X4 / SUV</small>
      </h4>
      
      <ul class="list-unstyled mt-3">
        <li><i class="bi bi-check-circle-fill text-success"></i> Nettoyage carrosserie</li>
        <li><i class="bi bi-check-circle-fill text-success"></i> Séchage à la main</li>
        <li><i class="bi bi-check-circle-fill text-success"></i> Démoustiquage</li>
        <li><i class="bi bi-check-circle-fill text-success"></i> Nettoyage vitre extérieur</li>
        <li><i class="bi bi-check-circle-fill text-success"></i> Nettoyage joints</li>
        <li><i class="bi bi-check-circle-fill text-success"></i> Brillant pneus</li>
      </ul>
      
    </div>
    <div class="col-md-6">
      <img src="assets/images/pack-exterieur.png" alt="Pack Intérieur" class="img-fluid rounded shadow">
    </div>

  </div>
  