<div class="container-fluid position-relative py-5 text-center text-light section-background">
    <!-- Contenu -->
    <div class="container position-relative">
        <div class="title-very-large">MS NETTOYAGE 80</div>




     

      <p class="mt-4 fs-5">
        <strong>MS NETTOYAGE 80</strong> est une société spécialisée dans le nettoyage professionnel de tapis et moquettes de voiture. 
        Nous offrons un nettoyage en profondeur pour éliminer taches, impuretés et odeurs, redonnant ainsi à l'intérieur de votre véhicule 
        fraîcheur et propreté. Grâce à des produits écologiques et un équipement de pointe, nous assurons un service rapide et de qualité, 
        adapté à vos besoins.
      </p>
      <div class="d-grid d-sm-inline-block mt-3">
        <a href="#" class="btn btn-primary btn-lg">Découvrir plus</a>
      </div>
    </div>
  </div>